.main-nav {
}

.main-nav-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    background: #1c1e1fdb;
    padding: 15px;
    font-weight: 600;
    border-radius: 4px;
}

.main-nav-list li {
    display: block;
}

.main-nav-list a {
    padding: 10px 15px;
    color: limegreen;
    text-decoration: none;
    text-transform: capitalize;
}

.main-sidebar {
    width: 320px;
    border: 1px solid #d4d4d4;
    padding: 15px;
}
.main-footer{
    padding: 15px;
    background-color: darkslategray;
    font-size: 1,5 em;
    font-weight: 700;
    text-transform: uppercase;
    color: floralwhite;
}
.style{
    background-color: rgb(255, 194, 194);
    padding: 15px;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 10px;
}
h2{
    color: blue;
}
.kafe{
    background-color: purple;
}